<!DOCTYPE html>
<html>
  <head>
    <title>Character Library</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Merriweather&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
